.wheelContainer {
  --d: 3em;
  /* image size */
  --rel: 0;
  /* how much extra space we want between images, 1 = one image size */
  --r: calc(.3*(1 + var(--rel))*var(--d)/var(--tan));
  /* circle radius */
  --s: calc(2*var(--r) + var(--d));
  /* container size */
  position: relative;
  width: var(--s);
  height: var(--s);
  font-size: var(--d);

  text-align: center;
}

.wheelContainerLink {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: calc(-.5*var(--d));
  width: var(--d);
  height: var(--d);
  --az: calc(var(--i)*1turn/8);
  transform:
    rotate(var(--az)) translate(var(--r)) rotate(calc(-1*var(--az)))
}
